*{
    cursor: default;
}

a {
    cursor: pointer;
}

:root {
    --sub-text:rgb(187, 187, 187);
}
.content {
    visibility: hidden;
}

.loaded {
    visibility: visible;
}
body {
    background-color: var(--background-color);
    color: var(--forground-color);
    font-family: var(--primary-font);
}
header {
    margin: 0;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

header .logo {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    align-items: left;
    float: left;
}
header .logo img {
    width: 80px;
    cursor: pointer;
}

.inline {
    display: inline;
}

header .items {
    text-align: right;
    color: rgb(0, 0, 0);
}

header .items a:not(button){
    text-decoration: none;
    color: white;
    transition: all 0.3s;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    color: var(--forground-color);
    font-family: MOLEN;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

header .items a:hover:not(button) {
    text-decoration: none;
  }
  
  
header .items a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(255, 255, 255);
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
    }
    
header .items a:hover:before:not(button) {
      visibility: visible;
      transform: scaleX(1);
    }
header .items button {
    cursor: pointer;
    font-family: MOLEN;
    font-weight: bolder;
    position: relative;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    background-color: var(--def-color);
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
}

header .items button:hover {
    box-shadow: 0 0 5px black;
    font-size: 15.5px;
    text-shadow:  0 0 10px slateblue;
    background-color: var(--pri-color);
    border-color: transparent;
}

.page-1 {background-image: linear-gradient(to bottom, transparent, var(--background-color)), url("/assets/images/5079835.jpg");
    background-size: cover;
    height: calc(100vh - 80px);
    animation: fade-in 5s ease-in-out;
}


.page-1 .texts .title{
    width: 500px;
    padding-top: 35vh;
    padding-left: 7vh;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 50px;
    animation: entry 2s;
    transition: all 0.2s ease-in-out;
}


.page-1 .texts .text {
    border: 2px solid rgb(187, 187, 187);
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    width: 500px;
    margin-left: 7vh;
    padding-left:5px ;
    color: rgb(187, 187, 187);
    text-align: left;
    font-weight: bolder;
    font-size: 20px;
    animation: entry 2.5s;
}

.page-2 {
    height: 100vh;
    padding-left: 7vh;
}

.page-2 .title-top {
    text-align: center;
    color: var(--primary-color-2);
    font-size: 30px;
}

.page-2 .title {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--primary-color-2);
    text-decoration-line: underline
}

.page-2 .title-bottom {
    text-align: center;
    font-size: 20px;
    color:rgb(187, 187, 187) ;
}

.page-2 .items {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.page-2 .item-1 {
    width: 200px;
    border: 1.5px solid grey;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.page-2 .item-1 img{
    cursor: pointer;
    width: 150px;
}

.page-2 .item-1 .-title {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    text-transform: uppercase;
}

.page-2 .item-1 .-text {
    font-size: 15px;
    color: var(--sub-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight: bolder;    
}

.page-2 .items .item-1:hover {
    background-color: grey;
    .-text {
        color: white;
    };
}

.page-2 .item-2 {
    width: 200px;
    border-radius: 5px;
    height: 250px;
    background-color: grey;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.page-2 .item-2 .to-come {
    display: flex;
    justify-content: center;
    font-family: HTTF;
    cursor: pointer;
    font-size: 200px;
}

.page-2 .item-3 {
    width: 200px;
    border-radius: 5px;
    height: 250px;
    background-color: grey;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.page-2 .item-3 .to-come {
    display: flex;
    justify-content: center;
    font-family: HTTF;
    cursor: pointer;
    font-size: 200px;
}

.page-2 .item-2 .c-soon {
    opacity: 0;
    text-align: center;
    font-family: HTTF;
    position: relative;
    bottom: 65px;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.2s ease-in-out;
}

.page-2 .items .item-2:hover {
    background-color: black;
    .c-soon {
        opacity: 1;
        text-align: center;
        font-family: HTTF;
        position: relative;
        bottom: 65px;
        font-size: 35px;
    }
}

.page-2 .item-3 .c-soon {
    opacity: 0;
    text-align: center;
    font-family: HTTF;
    position: relative;
    bottom: 65px;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.2s ease-in-out;
}

.page-2 .items .item-3:hover {
    background-color: black;
    .c-soon {
        opacity: 1;
        text-align: center;
        font-family: HTTF;
        position: relative;
        bottom: 65px;
        font-size: 35px;
    }
}

@keyframes entry {
    from { transform: translateX(-500px); }
}


  @font-face {
    font-family: NRL;
    src: url(../../fonts/nrl.ttf);
  }
    
  @font-face {
    font-family: MOLE;
    src: url(../../fonts/VictorMono-Italic-VariableFont_wght.ttf);
  }
 
  @font-face {
    font-family: MOLEN;
    src: url(/fonts/VictorMono-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: MNI;
    src: url(../../fonts/DAYTON__.TTF);
  }
  
  @font-face {
    font-family: GTA;
    src: url(../../fonts/pricedow.ttf);
  }
  
  @font-face {
    font-family: RP;
    src: url(../../fonts/Natural\ Coffee.otf);
  }

  @font-face {
    font-family: FCB;
    src: url(../../fonts/From\ Cartoon\ Blocks.ttf);
  }
  @font-face {
    font-family: HTTF;
    src: url(../../fonts/Halloween.otf)
  }
  
  @font-face {
    font-family: HBT;
    src: url(../../fonts/halloween_bats.ttf)
  }

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .element-to-animate {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
  }
@media (max-width: 768px){
    
    .page-1 .title {
        width: auto!important;
        text-align: center!important;
        padding-left: 0!important;
    }
    .page-1 .text {
        width: auto!important;
        text-align: center!important;
        padding-left: 0!important;
        border-left-color: transparent!important;
    }

    .popup {
        display: none;
    }

}


@media (max-width:426px) {
    .item-2,
    .item-3 {
        display: none;
    }
    
}
