body {
    background-color: var(--background-color);
    color: white;
    font-family: MOLEN;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: -webkit-flex;
    justify-content: center;
}
.upload-container {
    text-align: center;
}
  
.custom-file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #3498db;
    color: #fafafa;
    border: 1px solid #2980b9;
    border-radius: 5px;
    font-size: 16px;
    width: 550px;
    height: 250px;
    border: 10px solid #fafafa;
    border-style: dashed;
    transition: all 0.2s ease-in-out;
}

.custom-file-upload:hover{
    background-color: var(--primary-color-1);
    color: #fafafa;

    .upload-icon {
        font-size: 30px;
    }
}

.upload-icon {
    margin-right: 8px;
    font-size: 20px;
    font-family: MOLEN;
    transition: all 0.2s ease-in-out;
}
  
.hidden {
    display: none;
}
  
#file-name {
    display: flex;
    margin-top: 50px;
    font-size: 14px;
    justify-content: center;
    color: #ffffff;
}

input[type=submit] {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: #fafafa;
    font-family: MOLEN;
    font-weight: bolder;
    border: 2px solid #fafafa;
    padding: 15px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

input[type=submit]:hover {
    border-color: black;
    background-color: white;
    color: black;
}